FCM_PROJECT_ID=your-firebase-project-id
SA_PROJECT_ID=your-firebase-project-id
SA_PRIVATE_KEY_ID=your-private-key-id
SA_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n
SA_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
SA_CLIENT_ID=your-client-id
SA_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project.iam.gserviceaccount.com
